<div class="row">
  <div class="column">
    <p><%= link "go back", to: "/" %></p>

    <h2>Palindrome</h2>

    <!-- # TODO fill out this fuckin old thang -->
    <p>String <%= @x %> is a palindrome: <%= @y %> </p>

  </div>
</div>
